<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>添加作者</title>
<style type="text/css">
body {
	background-color: #FFC;
}
</style>
</head>

<body>
<h1 align="center">添加作者</h1>
<div class="add">
	<form action="/submit_author/" method="get">
   <p align="center">ID：
     <input type="text" name="authorid" />
  </p>
  <p align="center">姓名：
    <input type="text" name="name" />
  </p>
  <p align="center">
    年龄：
      <input type="text" name="age" />
  </p>
  <p align="center">国籍：
    <input type="text" name="country" />
  </p>
  <p align="center">
    <input type="submit" name="button2" value="提交" />
</p>
</form></div>
</body>
</html>
