<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>书籍详细信息</title>
<style type="text/css">
body {
	background-color: #FFC;
}
</style>
</head>

<body>
<div align="center">
  <h1>书籍详细信息</h1>
  <table width="900" border="1">
    <tr>
      
      <th width="150">书名</th>
      <th width="150">ISBN</th>
      <th width="150">作者ID</th>
      <th width="150">作者</th>
      <th width="150">作者年龄</th>
      <th width="150">作者国籍</th>
      <th width="150">出版社</th>
      <th width="150">出版日期</th>
      <th width="150">价格</th>
      </tr>
    <tr>
      <td>{{b.title}}</td>
      <td>{{b.isbn}}</td>
      <td>{{b.author.authorid}}</td>
      <td>{{b.author.name}}</td>
      <td>{{b.author.age}}</td>
      <td>{{b.author.country}}</td>
      <td>{{b.publisher}}</td>
      <td>{{b.publishDate}}</td>
      <td>{{b.price}}</td>
      </tr>
    </table>
</div>
</body>
</html>
